In [1]:
import pandas as pd

In [2]:
covid = r'C:\Users\Riaz\Desktop\pandas\Covid_19.csv'
covid = pd.read_csv(covid)
covid

          Date     State          Region  Confirmed  Deaths  Recovered
0    4/29/2020       NaN     Afghanistan       1939      60        252
1    4/29/2020       NaN         Albania        766      30        455
2    4/29/2020       NaN         Algeria       3848     444       1702
3    4/29/2020       NaN         Andorra        743      42        423
4    4/29/2020       NaN          Angola         27       2          7
..         ...       ...             ...        ...     ...        ...
316  4/29/2020   Wyoming              US        545       7          0
317  4/29/2020  Xinjiang  Mainland China         76       3         73
318  4/29/2020     Yukon          Canada         11       0          0
319  4/29/2020    Yunnan  Mainland China        185       2        181
320  4/29/2020  Zhejiang  Mainland China       1268       1       1263

[321 rows x 6 columns]

In [3]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 321 entries, 0 to 320
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       321 non-null    object
 1   State      140 non-null    object
 2   Region     321 non-null    object
 3   Confirmed  321 non-null    int64
 4   Deaths     321 non-null    int64
 5   Recovered  321 non-null    int64
dtypes: int64(3), object(3)
memory usage: 15.2+ KB

In [4]:
covid.shape

(321, 6)

In [5]:
covid.count()

Date         321
State        140
Region       321
Confirmed    321
Deaths       321
Recovered    321
dtype: int64

### finding null values...

In [30]:
Covid.isnull().sum()

Date               0
State             50
Region             0
Confirmed          0
Deaths             0
Recovered          0
percent            0
Deaths_percent     0
dtype: int64

In [7]:
covid['State'].dtype

dtype('O')

In [8]:
covid['Region'].value_counts()

US                          58
Mainland China              31
Canada                      15
France                      11
UK                          11
                            ..
Peru                         1
Central African Republic     1
Croatia                      1
Norway                       1
Philippines                  1
Name: Region, Length: 187, dtype: int64

### Show the number of confirmed, Death, Recovered in each region

In [9]:
covid.groupby('Region').sum()

                    Confirmed  Deaths  Recovered
Region
Afghanistan              1939      60        252
Albania                   766      30        455
Algeria                  3848     444       1702
Andorra                   743      42        423
Angola                     27       2          7
...                       ...     ...        ...
West Bank and Gaza        344       2         71
Western Sahara              6       0          5
Yemen                       6       0          1
Zambia                     97       3         54
Zimbabwe                   32       4          5

[187 rows x 3 columns]

### showing the case where confirmed case is less than 10...

In [36]:
covid[covid['Confirmed']<10].sort_values('Confirmed',ascending = True)

,Date,State,Region,Confirmed,Deaths,Recovered
285,4/29/2020,Recovered,US,0,0,120720
284,4/29/2020,Recovered,Canada,0,0,20327
203,4/29/2020,Diamond Princess cruise ship,Canada,0,1,0
305,4/29/2020,Tibet,Mainland China,1,0,1
289,4/29/2020,Saint Pierre and Miquelon,France,1,0,0
184,4/29/2020,Anguilla,UK,3,0,3
272,4/29/2020,Northwest Territories,Canada,5,0,0
192,4/29/2020,"Bonaire, Sint Eustatius and Saba",Netherlands,5,0,0
177,4/29/2020,NaN,Western Sahara,6,0,5
194,4/29/2020,British Virgin Islands,UK,6,1,3
288,4/29/2020,Saint Barthelemy,France,6,0,6
178,4/29/2020,NaN,Yemen,6,0,1
18,4/29/2020,NaN,Bhutan,7,0,5
140,4/29/2020,NaN,Sao Tome and Principe,8,0,4
126,4/29/2020,NaN,Papua New Guinea,8,0,0
105,4/29/2020,NaN,Mauritania,8,1,6
98,4/29/2020,NaN,MS Zaandam,9,2,0

### Deleting the case where confirmed case is less than 10

In [34]:

Covid =covid[~covid['Confirmed']<10].head(50)

In [35]:
Covid

         Date State                    Region  Confirmed  Deaths  Recovered
0   4/29/2020   NaN               Afghanistan       1939      60        252
1   4/29/2020   NaN                   Albania        766      30        455
2   4/29/2020   NaN                   Algeria       3848     444       1702
3   4/29/2020   NaN                   Andorra        743      42        423
4   4/29/2020   NaN                    Angola         27       2          7
5   4/29/2020   NaN       Antigua and Barbuda         24       3         11
6   4/29/2020   NaN                 Argentina       4285     214       1192
7   4/29/2020   NaN                   Armenia       1932      30        900
8   4/29/2020   NaN                   Austria      15402     580      12779
9   4/29/2020   NaN                Azerbaijan       1766      23       1267
10  4/29/2020   NaN                   Bahamas         80      11         23
11  4/29/2020   NaN                   Bahrain       2921       8       1455
12  4/29/2020   NaN                Bangladesh       7103     163        150
13  4/29/2020   NaN                  Barbados         80       7         39
14  4/29/2020   NaN                   Belarus      13181      84       2072
15  4/29/2020   NaN                   Belgium      47859    7501      11283
16  4/29/2020   NaN                    Belize         18       2          9
17  4/29/2020   NaN                     Benin         64       1         33
18  4/29/2020   NaN                    Bhutan          7       0          5
19  4/29/2020   NaN                   Bolivia       1110      59        117
20  4/29/2020   NaN    Bosnia and Herzegovina       1677      65        710
21  4/29/2020   NaN                  Botswana         23       1          5
22  4/29/2020   NaN                    Brazil      79685    5513      34132
23  4/29/2020   NaN                    Brunei        138       1        124
24  4/29/2020   NaN                  Bulgaria       1447      64        243
25  4/29/2020   NaN              Burkina Faso        641      43        498
26  4/29/2020   NaN                     Burma        150       6         27
27  4/29/2020   NaN                   Burundi         11       1          4
28  4/29/2020   NaN                Cabo Verde        114       1          2
29  4/29/2020   NaN                  Cambodia        122       0        119
30  4/29/2020   NaN                  Cameroon       1832      61        934
31  4/29/2020   NaN  Central African Republic         50       0         10
32  4/29/2020   NaN                      Chad         52       2         19
33  4/29/2020   NaN                     Chile      14885     216       8057
34  4/29/2020   NaN                  Colombia       6207     278       1411
35  4/29/2020   NaN       Congo (Brazzaville)        207       8         19
36  4/29/2020   NaN          Congo (Kinshasa)        491      30         59
37  4/29/2020   NaN                Costa Rica        713       6        323
38  4/29/2020   NaN                   Croatia       2062      67       1288
39  4/29/2020   NaN                      Cuba       1467      58        617
40  4/29/2020   NaN                    Cyprus        843      15        148
41  4/29/2020   NaN            Czech Republic       7579     227       3108
42  4/29/2020   NaN                   Denmark       9008     443       6366
43  4/29/2020   NaN          Diamond Princess        712      13        645
44  4/29/2020   NaN                  Djibouti       1077       2        599
45  4/29/2020   NaN                  Dominica         16       0         13
46  4/29/2020   NaN        Dominican Republic       6652     293       1228
47  4/29/2020   NaN                   Ecuador      24675     883       1557
48  4/29/2020   NaN                     Egypt       5268     380       1335
49  4/29/2020   NaN               El Salvador        377       9        106

### In which Region max number of Death cases were found...

In [13]:
Covid.groupby('Region')['Deaths'].sum().sort_values(ascending = False)

Region
Belgium                     7501
Brazil                      5513
Ecuador                      883
Austria                      580
Algeria                      444
Denmark                      443
Egypt                        380
Dominican Republic           293
Colombia                     278
Czech Republic               227
Chile                        216
Argentina                    214
Bangladesh                   163
Belarus                       84
Croatia                       67
Bosnia and Herzegovina        65
Bulgaria                      64
Cameroon                      61
Afghanistan                   60
Bolivia                       59
Cuba                          58
Burkina Faso                  43
Andorra                       42
Congo (Kinshasa)              30
Albania                       30
Armenia                       30
Azerbaijan                    23
Cyprus                        15
Diamond Princess              13
Bahamas                       11
El Salvador                    9
Congo (Brazzaville)            8
Bahrain                        8
Barbados                       7
Costa Rica                     6
Burma                          6
Antigua and Barbuda            3
Angola                         2
Belize                         2
Chad                           2
Djibouti                       2
Botswana                       1
Brunei                         1
Benin                          1
Cabo Verde                     1
Burundi                        1
Bhutan                         0
Central African Republic       0
Dominica                       0
Cambodia                       0
Name: Deaths, dtype: int64

In [16]:
Covid['Deaths'].value_counts(normalize = True) * 100

1       10.0
0        8.0
2        8.0
30       6.0
6        4.0
8        4.0
883      2.0
293      2.0
67       2.0
42       2.0
65       2.0
444      2.0
9        2.0
580      2.0
163      2.0
13       2.0
380      2.0
58       2.0
59       2.0
60       2.0
43       2.0
64       2.0
443      2.0
3        2.0
278      2.0
227      2.0
216      2.0
23       2.0
214      2.0
84       2.0
15       2.0
7501     2.0
11       2.0
5513     2.0
7        2.0
61       2.0
Name: Deaths, dtype: float64

### Get percentage values on the basis of Deaths...

In [28]:
Covid['Deaths_percent'] = (Covid['Deaths'] / 
                  Covid['Deaths'].sum()) * 100

In [29]:
Covid

,Date,State,Region,Confirmed,Deaths,Recovered,percent,Deaths_percent
0,4/29/2020,NaN,Afghanistan,1939,60,252,0.334262,0.334262
1,4/29/2020,NaN,Albania,766,30,455,0.167131,0.167131
2,4/29/2020,NaN,Algeria,3848,444,1702,2.473538,2.473538
3,4/29/2020,NaN,Andorra,743,42,423,0.233983,0.233983
4,4/29/2020,NaN,Angola,27,2,7,0.011142,0.011142
5,4/29/2020,NaN,Antigua and Barbuda,24,3,11,0.016713,0.016713
6,4/29/2020,NaN,Argentina,4285,214,1192,1.192201,1.192201
7,4/29/2020,NaN,Armenia,1932,30,900,0.167131,0.167131
8,4/29/2020,NaN,Austria,15402,580,12779,3.231198,3.231198
9,4/29/2020,NaN,Azerbaijan,1766,23,1267,0.128134,0.128134
10,4/29/2020,NaN,Bahamas,80,11,23,0.061281,0.061281
11,4/29/2020,NaN,Bahrain,2921,8,1455,0.044568,0.044568
12,4/29/2020,NaN,Bangladesh,7103,163,150,0.908078,0.908078
13,4/29/2020,NaN,Barbados,80,7,39,0.038997,0.038997
14,4/29/2020,NaN,Belarus,13181,84,2072,0.467967,0.467967
15,4/29/2020,NaN,Belgium,47859,7501,11283,41.788301,41.788301
16,4/29/2020,NaN,Belize,18,2,9,0.011142,0.011142
17,4/29/2020,NaN,Benin,64,1,33,0.005571,0.005571
18,4/29/2020,NaN,Bhutan,7,0,5,0.000000,0.000000
19,4/29/2020,NaN,Bolivia,1110,59,117,0.328691,0.328691
20,4/29/2020,NaN,Bosnia and Herzegovina,1677,65,710,0.362117,0.362117
21,4/29/2020,NaN,Botswana,23,1,5,0.005571,0.005571
22,4/29/2020,NaN,Brazil,79685,5513,34132,30.713092,30.713092
23,4/29/2020,NaN,Brunei,138,1,124,0.005571,0.005571
24,4/29/2020,NaN,Bulgaria,1447,64,243,0.356546,0.356546
25,4/29/2020,NaN,Burkina Faso,641,43,498,0.239554,0.239554
26,4/29/2020,NaN,Burma,150,6,27,0.033426,0.033426
27,4/29/2020,NaN,Burundi,11,1,4,0.005571,0.005571
28,4/29/2020,NaN,Cabo Verde,114,1,2,0.005571,0.005571
29,4/29/2020,NaN,Cambodia,122,0,119,0.000000,0.000000
30,4/29/2020,NaN,Cameroon,1832,61,934,0.339833,0.339833
31,4/29/2020,NaN,Central African Republic,50,0,10,0.000000,0.000000
32,4/29/2020,NaN,Chad,52,2,19,0.011142,0.011142
33,4/29/2020,NaN,Chile,14885,216,8057,1.203343,1.203343
34,4/29/2020,NaN,Colombia,6207,278,1411,1.548747,1.548747
35,4/29/2020,NaN,Congo (Brazzaville),207,8,19,0.044568,0.044568
36,4/29/2020,NaN,Congo (Kinshasa),491,30,59,0.167131,0.167131
37,4/29/2020,NaN,Costa Rica,713,6,323,0.033426,0.033426
38,4/29/2020,NaN,Croatia,2062,67,1288,0.373259,0.373259
39,4/29/2020,NaN,Cuba,1467,58,617,0.323120,0.323120
40,4/29/2020,NaN,Cyprus,843,15,148,0.083565,0.083565
41,4/29/2020,NaN,Czech Republic,7579,227,3108,1.264624,1.264624
42,4/29/2020,NaN,Denmark,9008,443,6366,2.467967,2.467967
43,4/29/2020,NaN,Diamond Princess,712,13,645,0.072423,0.072423
44,4/29/2020,NaN,Djibouti,1077,2,599,0.011142,0.011142
45,4/29/2020,NaN,Dominica,16,0,13,0.000000,0.000000
46,4/29/2020,NaN,Dominican Republic,6652,293,1228,1.632312,1.632312
47,4/29/2020,NaN,Ecuador,24675,883,1557,4.919220,4.919220
48,4/29/2020,NaN,Egypt,5268,380,1335,2.116992,2.116992
49,4/29/2020,NaN,El Salvador,377,9,106,0.050139,0.050139

### Sorting the entire Dataframe w.r.t Confirmed

In [33]:
Covid.sort_values('Confirmed', ascending = True)

,Date,State,Region,Confirmed,Deaths,Recovered,percent,Deaths_percent
18,4/29/2020,NaN,Bhutan,7,0,5,0.000000,0.000000
27,4/29/2020,NaN,Burundi,11,1,4,0.005571,0.005571
45,4/29/2020,NaN,Dominica,16,0,13,0.000000,0.000000
16,4/29/2020,NaN,Belize,18,2,9,0.011142,0.011142
21,4/29/2020,NaN,Botswana,23,1,5,0.005571,0.005571
5,4/29/2020,NaN,Antigua and Barbuda,24,3,11,0.016713,0.016713
4,4/29/2020,NaN,Angola,27,2,7,0.011142,0.011142
31,4/29/2020,NaN,Central African Republic,50,0,10,0.000000,0.000000
32,4/29/2020,NaN,Chad,52,2,19,0.011142,0.011142
17,4/29/2020,NaN,Benin,64,1,33,0.005571,0.005571
13,4/29/2020,NaN,Barbados,80,7,39,0.038997,0.038997
10,4/29/2020,NaN,Bahamas,80,11,23,0.061281,0.061281
28,4/29/2020,NaN,Cabo Verde,114,1,2,0.005571,0.005571
29,4/29/2020,NaN,Cambodia,122,0,119,0.000000,0.000000
23,4/29/2020,NaN,Brunei,138,1,124,0.005571,0.005571
26,4/29/2020,NaN,Burma,150,6,27,0.033426,0.033426
35,4/29/2020,NaN,Congo (Brazzaville),207,8,19,0.044568,0.044568
49,4/29/2020,NaN,El Salvador,377,9,106,0.050139,0.050139
36,4/29/2020,NaN,Congo (Kinshasa),491,30,59,0.167131,0.167131
25,4/29/2020,NaN,Burkina Faso,641,43,498,0.239554,0.239554
43,4/29/2020,NaN,Diamond Princess,712,13,645,0.072423,0.072423
37,4/29/2020,NaN,Costa Rica,713,6,323,0.033426,0.033426
3,4/29/2020,NaN,Andorra,743,42,423,0.233983,0.233983
1,4/29/2020,NaN,Albania,766,30,455,0.167131,0.167131
40,4/29/2020,NaN,Cyprus,843,15,148,0.083565,0.083565
44,4/29/2020,NaN,Djibouti,1077,2,599,0.011142,0.011142
19,4/29/2020,NaN,Bolivia,1110,59,117,0.328691,0.328691
24,4/29/2020,NaN,Bulgaria,1447,64,243,0.356546,0.356546
39,4/29/2020,NaN,Cuba,1467,58,617,0.323120,0.323120
20,4/29/2020,NaN,Bosnia and Herzegovina,1677,65,710,0.362117,0.362117
9,4/29/2020,NaN,Azerbaijan,1766,23,1267,0.128134,0.128134
30,4/29/2020,NaN,Cameroon,1832,61,934,0.339833,0.339833
7,4/29/2020,NaN,Armenia,1932,30,900,0.167131,0.167131
0,4/29/2020,NaN,Afghanistan,1939,60,252,0.334262,0.334262
38,4/29/2020,NaN,Croatia,2062,67,1288,0.373259,0.373259
11,4/29/2020,NaN,Bahrain,2921,8,1455,0.044568,0.044568
2,4/29/2020,NaN,Algeria,3848,444,1702,2.473538,2.473538
6,4/29/2020,NaN,Argentina,4285,214,1192,1.192201,1.192201
48,4/29/2020,NaN,Egypt,5268,380,1335,2.116992,2.116992
34,4/29/2020,NaN,Colombia,6207,278,1411,1.548747,1.548747
46,4/29/2020,NaN,Dominican Republic,6652,293,1228,1.632312,1.632312
12,4/29/2020,NaN,Bangladesh,7103,163,150,0.908078,0.908078
41,4/29/2020,NaN,Czech Republic,7579,227,3108,1.264624,1.264624
42,4/29/2020,NaN,Denmark,9008,443,6366,2.467967,2.467967
14,4/29/2020,NaN,Belarus,13181,84,2072,0.467967,0.467967
33,4/29/2020,NaN,Chile,14885,216,8057,1.203343,1.203343
8,4/29/2020,NaN,Austria,15402,580,12779,3.231198,3.231198
47,4/29/2020,NaN,Ecuador,24675,883,1557,4.919220,4.919220
15,4/29/2020,NaN,Belgium,47859,7501,11283,41.788301,41.788301
22,4/29/2020,NaN,Brazil,79685,5513,34132,30.713092,30.713092